@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lato';
  src: url('../../public/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('../../public/fonts/Poppins/Poppins-Regular.ttf');
}

